CONFIG_HAVE_DOT_CONFIG=y

#
# General Configuration
#
# CONFIG_MTD is not set
# CONFIG_CURL is not set
# CONFIG_CURL_SSL is not set
CONFIG_SYSTEMD=y
CONFIG_DEFAULT_CONFIG_FILE="/etc/swupdate/swupdate.cfg"
CONFIG_SCRIPTS=y
CONFIG_HW_COMPATIBILITY=y
CONFIG_HW_COMPATIBILITY_FILE="/etc/swupdate-hw-compat"
CONFIG_SW_VERSIONS_FILE="/etc/sw-versions"

#
# Socket Paths
#
CONFIG_LUA=y
CONFIG_LUAPKG="lua"
# CONFIG_FEATURE_SYSLOG is not set

#
# Build Options
#
CONFIG_CROSS_COMPILE=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""

CONFIG_UBOOT=y
CONFIG_UBOOT_NEWAPI=y
CONFIG_UBOOT_FWENV="/etc/fw_env.config"
CONFIG_HASH_VERIFY=y
CONFIG_SIGNED_IMAGES=y
CONFIG_SIGALG_RAWRSA=y

CONFIG_GUNZIP=y
CONFIG_ZSTD=y

# for hawkbit
CONFIG_SURICATTA=y

#
# embedded web server
#
# CONFIG_WEBSERVER is not set
# CONFIG_MONGOOSESSL is not set

#
#Parser Features
#
CONFIG_LIBCONFIG=y
CONFIG_PARSERROOT=""

#
# Image Handler
#
CONFIG_RAW=y
CONFIG_ARCHIVE=y
CONFIG_RDIFFHANDLER=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_RDIFFHANDLER=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_HANDLER_IN_LUA=y
CONFIG_REMOTE_HANDLER=y


